@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.otf");
}

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  font-family: var(--font-semibold);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply text-dark-100 text-xl font-semibold;
}

@utility base-semibold {
  @apply text-dark-100 text-base font-semibold;
}

@utility small-medium {
  @apply text-xs font-medium;
}

@utility translate-up {
  @apply transition-all duration-300 ease-in-out hover:-translate-y-0.5;
}

@layer base {
  h1 {
    @apply text-center text-2xl font-semibold lg:text-3xl 2xl:text-5xl;
  }

  h2 {
    @apply text-2xl font-semibold 2xl:text-4xl;
  }
}

@layer components {
  header {
    @apply flex-center fixed top-0 left-0 z-50 min-h-[7vh] w-screen bg-black;

    nav {
      @apply flex-center md:flex-between container mx-auto px-5 2xl:px-0;

      img {
        @apply translate-up h-8 cursor-pointer lg:h-10;
      }

      ul {
        @apply md:flex-center hidden gap-8;

        a {
          @apply font-regular hidden cursor-pointer text-sm text-white opacity-80 transition-all duration-300 ease-in-out hover:underline hover:underline-offset-2 hover:opacity-100 md:block;
        }
      }
    }
  }

  #hero {
    @apply mt-25 h-fit text-white md:mt-40;

    button {
      @apply relative z-10 cursor-pointer rounded-full bg-linear-to-r from-[#12b4ff] to-[#ff39e1] px-6 py-2 text-lg font-semibold transition-all duration-300 ease-in-out hover:text-black;
    }

    p {
      @apply lg:h3-semibold base-semibold;
    }
  }
}
